:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}
@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf) format(truetype)
      tech("variations"),
    url(assets/fonts/Figtree-VariableFont_wght.ttf)
      format("truetype-variations");
  font-display: swap;
}
html {
  font-family: "figtree";
  font-size: 16px;
}
main {
  background-color: var(--yellow);
  width: 100vw;
  height: 100vh;
  padding-top: 156px;
  padding-left: 24px;
}
.card {
  background-color: var(--white);
  border-radius: 20px;
  height: 501px;
  width: 327px;
  padding: 23px;
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px var(--gray-950);
}
.thumbnail {
  width: 279px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  object-position: 0% 50%;
}
.thumbnail img {
  object-fit: cover;
  width: inherit;
  height: inherit;
}
.content {
  margin-top: 26px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.tag {
  margin-bottom: 4px;
}
.tag span {
  background-color: var(--yellow);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 800;
  line-height: 150%;
  color: var(--gray-950);
  padding: 6px 12px 6px 12px;
}
.date {
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  color: var(--gray-950);
}
h1 {
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
  color: var(--gray-950);
  margin: 0;
}
h1:hover {
  color: var(--yellow);
  cursor: pointer;
}
p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: var(--gray-500);
}
.author {
  display: flex;
  align-items: center;
  gap: 12px;
}
.author img {
  height: 32px;
  width: 32px;
}
.author span {
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
  color: var(--gray-950);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 768px) {
  main {
    display: grid;
    place-items: center;
    padding: 0;
  }
  .card {
    width: 384px;
    height: 522px;
  }
  .thumbnail {
    width: 100%;
  }
  .tag {
    margin-top: 2px;
  }
  .tag span {
    padding-right: 13px;
  }
  .content span,
  .date {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}
