:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}
@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf) format(truetype)
      tech("variations"),
    url(assets/fonts/Figtree-VariableFont_wght.ttf)
      format("truetype-variations");
  font-display: swap;
}
html {
  font-family: "figtree";
  font-size: 16px;
}
main {
  background-color: var(--yellow);
  width: 100vw;
  height: 100vh;
  padding-top: 156px;
  padding-left: 24px;
}
.card {
  background-color: var(--white);
  border-radius: 20px;
  height: 501px;
  width: 327px;
  padding: 24px;
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px var(--gray-950);
}
.thumbnail {
  width: 279px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  object-position: 0% 50%;
}
.thumbnail img {
  object-fit: cover;
  width: inherit;
  height: inherit;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
